@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url('../fonts/OpenSans.eot?#iefix') format('embeddedopentype'),  url("../fonts/OpenSansRegular.woff") format("woff"),  url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSansBold.eot");
    src: url('../fonts/OpenSansBold.eot?#iefix') format('embeddedopentype'),  url("../fonts/OpenSansBold.woff") format("woff"),  url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSansSemiBold.eot");
    src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embeddedopentype'),  url("../fonts/Open Sans Semibold") format("woff"),  url("../fonts/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Open Sans Regular";
    color: #333;
}


 html {
  height: 100%;
   background-image: url(../img/air_bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  opacity:1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-overlay{
  height:100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:2;
 background:#225470;
  opacity:0.3;
}




h2.countpower {
    text-align: center;
    padding-top: 30px;
    margin-bottom:20px;
    font-family:"Open Sans Bold";

}

#title {
    text-decoration: none;
}

#quiz {
    text-indent: 10px;
    display:none;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    
}



.button a{text-decoration:none; text-align:center; 
 padding:5px 15px; 
 border:solid 2px #225470; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 height: 32px;
 font:18px Open Sans Regular; 
 font-weight:bold; 
 color:#fff; 
 background-color:#225470; 
  margin: 10px;
   display: block;
   margin-top: 20px;
   width: 138px;
 /* float: right;*/
  
  }


  .button a:hover{
 
 color:#ddd; 
 background-color:#1c445b; 
 
 
  transition: background-color 1s linear;
 }

 .button a:active{
 
 border:solid 2px #1c445b; 
 
 color:#ddd; 
 background-color:#1c445b; 
  transition: background-color 1s linear;
  
 }



button.back_btn, 
a.back_btn{text-decoration:none; text-align:center; 
  margin-top: 10px;
  margin-bottom: 10px; 
 padding:5px 15px; 
 border:solid 2px crimson; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 height: 27px;
 font:18px Open Sans Regular; 
 font-weight:bold; 
 color:#fff; 
 background-color:#dc143c; 
 max-width: 120px;
 display: block;
 
  float: right;
  
  }


button.back_btn:hover,
a.back_btn:hover{
 
 border:solid 1px #c01537; 
 
 color:#ddd; 
 background-color:#c01537; 
 
 
  transition: background-color 1s linear;
 }

 button.back_btn:active, 
 a.back_btn:active{
  color:#ddd; 
 background-color:#c01537; 
  transition: background-color 1s linear;
  
 }


button.back_btn {
  min-height: 46px;
  display: block;
}

a.back_btn {
  display: block;
  text-align: left;
  width: 138px;
  text-align: center;
}


#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #fff;
    position: relative;
    z-index: 8;
    border-radius:5px;
    color: #000;
    font-weight: bold;
    box-shadow: 4px 4px 4px #888;
}

@media screen and (max-width: 991px) {
#container {
    width:90%;
}
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}



  .page-form{padding:20px 0 0}
    .page-form .form-title{font:24px Open Sans SemiBold;
      padding:0 0 30px; 
      line-height: 38px;}
      .page-form .form-title b.big{
        font:700 30px/34px Open Sans Regular;
        color:#65b9ed}
      .page-form-line{width:86px;
        height:1px;
        background:#fff;
        margin:20px auto 15px}
  .page-form-border{width:562px;
    height:33px;
    background:url(../img/page-form-border.png) no-repeat;
    position:absolute;left:50%;margin-left:-281px}
    .page-form-border.top{top:-33px;}
    .page-form-border.bottom{bottom:-33px;
      background-position:left bottom}

input[type=text], input[type=tel], textarea, select {
    position: relative;
    background: #fff;
    width: 200px;
    color: #1d1d1f;
    font: 500 18px Open Sans Regular;
    padding: 10px 15px 10px 15px;
    
    border: 1px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

input[type="checkbox"] {
  display: inline-block;
    width: 25px;
    height: 25px;
    margin:10px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 20px!important;
}

input[type="checkbox"]:checked {
  
}

#result, #range {
  margin: 20px;
  font-size: 18px;
  font-family:"Open Sans Semibold";


}


button.back_btn.personal_model {
  display: block;
  min-width: 280px;
  max-width: 350px;
}

form#count_power {
display: block;
min-height: 260px;
margin-top: 30px;

}


input#tele,
input#user_name {
  display: block;
  margin-left:10px;  
  margin-bottom: 10px;
  

}

div.final_form {
  position: relative;
  
}

input#user_power {
  visibility: hidden;
}